In [13]:
import pandas as pd

In [32]:
df = pd.read_csv('../data/normal_dataframe.csv')

In [15]:
luxury = pd.read_csv('../data/luxury_dataframe.csv')

In [33]:
sample_df = df.sample(frac= 0.05, random_state=357)

In [34]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 369956 entries, 1334650 to 5361947
Data columns (total 20 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              369956 non-null  int64
 1   name                            369956 non-null  object
 2   host_id                         369956 non-null  int64
 3   host_name                       369874 non-null  object
 4   date                            369956 non-null  object
 5   neighbourhood                   369956 non-null  object
 6   price                           369956 non-null  float64
 7   room_type                       369956 non-null  object
 8   minimum_nights                  369956 non-null  int64
 9   maximum_nights                  369956 non-null  int64
 10  latitude                        369956 non-null  float64
 11  longitude                       369956 non-null  float64
 12  number_of_reviews               369956 non-null  int64
 13  neighbourhood_group             0 non-null       float64
 14  calculated_host_listings_count  369956 non-null  int64
 15  availability_365                369956 non-null  int64
 16  price_dollar                    369956 non-null  float64
 17  priceDisc                       369956 non-null  object
 18  year                            369956 non-null  int64
 19  month                           369956 non-null  int64
dtypes: float64(5), int64(9), object(6)
memory usage: 59.3+ MB

In [35]:
sample_df.to_csv('../data/normal_dataframe.csv')