In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('../data/normal_dataframe.csv')

In [15]:
luxury = pd.read_csv('../data/luxury_dataframe.csv')

In [16]:
sample_df = df.sample(frac= 0.1, random_state=357)

In [8]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 739912 entries, 1334650 to 4360521
Data columns (total 20 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              739912 non-null  int64
 1   name                            739912 non-null  object
 2   host_id                         739912 non-null  int64
 3   host_name                       739759 non-null  object
 4   date                            739912 non-null  object
 5   neighbourhood                   739912 non-null  object
 6   price                           739912 non-null  float64
 7   room_type                       739912 non-null  object
 8   minimum_nights                  739912 non-null  int64
 9   maximum_nights                  739912 non-null  int64
 10  latitude                        739912 non-null  float64
 11  longitude                       739912 non-null  float64
 12  number_of_reviews               739912 non-null  int64
 13  neighbourhood_group             0 non-null       float64
 14  calculated_host_listings_count  739912 non-null  int64
 15  availability_365                739912 non-null  int64
 16  price_dollar                    739912 non-null  float64
 17  priceDisc                       739912 non-null  object
 18  year                            739912 non-null  int64
 19  month                           739912 non-null  int64
dtypes: float64(5), int64(9), object(6)
memory usage: 118.5+ MB

In [17]:
sample_df.to_csv('../data/normal_dataframe.csv')